@charset "UTF-8";
/*reset*/
*{margin: 0; padding: 0;}
li{list-style: none;} /*앞에 점 없애는것*/
a{text-decoration: none; color: #333;}

.clearfix::after{content: ""; clear: both; display: block;
/*:before, :after --> 인라인요소*/
}

#wrap{width: 1000px; margin: 0 auto; }


#header h1{float: left; padding: 15px 0 0px;}
#header h1 a img{width: 110px;}
#header .nav{float: right; background-color: #ddd;}
#header .nav ul li{position: relative; float: left; width: 140px; 
text-align: center;}
#header .nav ul li a{/*inline요소 : margin, padding이 좌우만 적용된다.*/
    display: block; padding: 24px 20px 20px; transition: 0.3s;}
#header .nav ul li a:hover{background-color: #ccc;}

#header .nav ul li ul.submenu{
    display: none;
    position: absolute;
    left: 0; top: 65px;
    z-index: 10; /*z-index는 무조건 포지션값이 있어야한다!!!*/
}
#header .nav ul li ul.submenu li{}
#header .nav ul li ul.submenu li a{background-color: #888; padding: 10px;}

#header .nav ul li ul.submenu li a:hover{background-color: #666;}

/*banner*/
#banner{overflow: hidden;}
#banner .slideList{width: 3000px; position: relative;}
/*슬라이드를 작동하려면 position: relative가 있어야함!!*/
#banner .slideList .slideImg{position: relative; width: 1000px; float: left;}
#banner .slideList .slideImg h2{position: absolute; top: 50%; left: 50%; transform:translate(-50%,-50%); background-color: rgba(0,0,0,0.4);
padding: 10px 30px; border-radius: 20px; color: #fff;
}
#banner .slideList .slideImg img{width: 100%;
/*img태그에 빈공간이 생길 시 처리방법*/
/*원인 : img태그가 lnline요소이기 때문*/
/*1.display:block; 2.vertical-align:top;*/

vertical-align:top;
}


/*.content1*/

#content1{margin-top: 20px;}
#content1 .left{
    float: left;
    width: 49%;
    /*background: color img repeat position/size;*/

    /*background-color: #f2f2f2;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size:80px;*/

    background: #f2f2f2 url(../images/bg1.jpg) no-repeat right 20px center/80px;
    padding: 20px;
    box-sizing: border-box;
}
#content1 .left .title{
    font-size: 22px;
    padding-bottom: 5px;

}
#content1 .left .desc{
    font-size: 14px;
    color: #666;;
    padding-bottom: 15px;
}
#content1 .left .btn{
    background: url(../images/icon1.jpg) no-repeat left center;
    background-size: 20px; padding-left: 25px;
}
#content1 .right{
    float: right;
    width: 49%;
    background-color: aqua;
    background: #f2f2f2 url(../images/bg2.jpg) no-repeat right 20px center/80px;
    padding: 20px;
    box-sizing: border-box;
}
#content1 .right .title{

    font-size: 22px;
    padding-bottom: 5px;

}
#content1 .right .desc{

    font-size: 14px;
    color: #666;;
    padding-bottom: 15px;
}
#content1 .right .btn{

    background: url(../images/icon2.jpg) no-repeat left center;
    background-size: 20px; padding-left: 25px;

}

/*content2*/
#content2{margin-top: 30px;}
#content2 .tab_menu{}
#content2 .tab_btn{}
#content2 .tab_btn ul{}
#content2 .tab_btn ul li{float: left; margin-right: 15px;}
#content2 .tab_btn ul li a{
    /*inline요소는 margin,padding의 상하가 적용이 안됨.
    단 좌우는 적용된다.*/
    padding-bottom: 10px;
    display: block; font-size: 24px; color: #999;
}
#content2 .tab_btn ul li.active a{color: #000;}

#content2 .tab_cont{}
#content2 .tab_cont div{}
#content2 .tab_cont div figure{float: left; width: 32%; margin-right: 2%;}
#content2 .tab_cont div figure:last-child{margin-right: 0;}
#content2 .tab_cont div figure img{width: 100%;}
#content2 .tab_cont div figure figcaption{}


/*footer*/
#footer{background-color: #202020; margin-top: 30px; padding: 20px;}
#footer h2{float: left;}
#footer h2 img{width: 150px;}
#footer .foot{float: right;}
#footer .foot ul{padding-bottom: 10px;}
#footer .foot ul li{display: inline;}
#footer .foot ul li a{color: #fff; padding-right: 10px;}
#footer address{color: #ccc; font-style: normal;}











/*layer 팝업*/

.layer-bg{display: none;
    position: fixed; background-color: rgba(0,0,0,0.8); left: 0; top: 0;
    left: 0; top: 0; right: 0; bottom: 0; /*넓이 100% 높이 100%와 똑같은말*/
    /*width: 100%; height: 100%;*/
}
.layer-bg .layer{
    width: 500px; height: 500px; background-color: #fff;
    padding: 20px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    /*left: calc(50% - 250px);
    top: calc(50% - 250px);
    중앙에 오게 하는 다른 방법
    */
}
.layer-bg .layer h2{}
.layer-bg .layer .close{position: absolute; right: 20px; bottom: 20px;}